@page {
  size: 25mm 38mm;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* 1 label = 1 pagina */
.page {
  width: 25mm;
  height: 38mm;

  display: flex;
  justify-content: center;
  align-items: center;

  page-break-after: always;
}

/* ticket */
.label {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 2mm;
}

/* QR */
.label div:first-child {
  transform: scale(0.7);
}

/* prijs */
.label h2 {
  font-size: 10pt;
  margin: 0;
}

/* code */
.label p {
  font-size: 7pt;
  margin: 0;
}

/* knop weg */
@media print {
  button {
    display: none;
  }
}
