* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* A4 pagina */
.page {
  width: 210mm;
  height: 297mm;
  display: flex;
  justify-content: center;
  align-items: center;
  page-break-after: always;
}

/* TICKET */
.label {
  width: 25mm;   /* breedte */
  height: 38mm;  /* hoogte */

  border: 1px solid black;
  border-radius: 3mm;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2mm;
  gap: 2mm;
}

/* QR code */
.label div:first-child {
  transform: scale(0.6);
}

/* prijs */
.label h2 {
  font-size: 10pt;
  margin: 0;
}

/* artikelcode */
.label p {
  font-size: 7pt;
  margin: 0;
}

/* print instellingen */
@media print {
  button {
    display: none;
  }

  body {
    margin: 0;
  }
}
